/* Universal Styles */
html {
  font-size: 16px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;

}

/* Typography Styles */
h1 {
  font-family: 'PT Serif', serif;
  font-size: 2.9rem;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 2.9rem;
  padding: 15px 0px;
  letter-spacing: 1px;
}

h2 {
  font-size: 1.1rem;
  font-weight: normal;
  color: #FFFFFF;
  line-height: 1.3rem;
  padding: 10px 0;
}

h3 {
  font-family: 'PT Serif', serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: #FFFFFF;
}

h5 {
  font-size: 1rem;
  font-weight: normal;
  color: #B0BEC5;
  line-height: 1.6rem;
  letter-spacing: 1.1px;
  padding: 15px 0px 45px 0;
}

h6 {
  font-size: 0.9rem;
  font-weight: bold;
  color: #FFFFFF;
}

p {
  color: #FFFFFF;
}

/* Hyperlink Styles */
a {
  font-size: 1.1rem;
  font-weight: normal;
  color: #006064;
  text-decoration: none;
  text-align: center;
}

a:hover {
  font-weight: bold;
  color: #0097A7;
  transition: all 0.3s ease-in;
}

.link_inline {
  font-size: 1rem;
  font-weight: normal;
  color: #0097A7;
  line-height: 1.6rem;
  letter-spacing: 1.1px;
  padding: 5px 0px 5px 0;
}

.link_inline:hover {
  font-weight: bold;
  color: #006064;
  transition: all 0.3s ease-in;
}

.link_button {
  background-color: #006064;
  width: 100%;
  height: 60px;
  margin: 15px auto;
  text-align: center;
  vertical-align: middle;
  display: block;
  border-radius: 8px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
}

.link_button:hover {
  background-color: #0097A7;
  transition: all 0.2s ease-in;
}

.link_button a {
  color: #FFFFFF;
  padding: 18px 20px;
  font-size: 1.2rem;
  font-weight: normal;
  display: block;
  margin: 0 auto;
}

.link_button a:hover {
  font-weight: bold;
  transition: all 0.2s ease-in;
}

/* Section, Container, and Banner Styles */
.section_header {
  height: 100%;
  margin: 0 auto;
  padding: 32px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.banner .container {
  display: flex;
  align-items: center;
}

.banner_left {
  width: 60%;
  padding: 32px 24px;
}

.banner_left img {
  width: 100%;
}

.banner_right {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.banner_text {
  padding: 32px 120px 32px 24px;
}

/* Card Wide Styles */
.card_wide {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #263238;
}

.card_wide a {
  color: #00BCD4;
}

.card_wide a:hover {
  color: #00838F;
}

.card_wide img {
  width: 35%;
  height: 35%;
  padding: 16px;
}

.card_wide_text {
  width: 65%;
  height: auto;
  padding-right: 10px;
}

.card_wide_text h5 {
  padding: 5px 0px 5px 0;
  letter-spacing: 1px;
}

.card_tall_text h5 {
  padding: 5px 0px 5px 0;
  letter-spacing: 1px;
  color: #546E7A;
}

.card_tall_text h3 {
  padding: 0px 0px 10px 0;
  color: #37474F;
}

/* Card Tall Styles */
.card_grid_tall {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 72px 32px 72px;
}

.card_tall {
  width: 30%;
  height: 150px;
  margin: 0px 16px 276px 16px;
}

.card_tall_text {
  background-color: #FFFFFF;
  height: 150px;
  padding: 20px 20px;
}

.card_tall_text:hover {
  background-color: #CFD8DC;
}

.card_tall img {
  width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: bottom;
  border-bottom: solid 2px #B0BEC5;
}

/* Header Styles */
.bar {
  background-color: #FFFFFF;
  height: 64px;
}

#nav {
  width: 100%;
  position: fixed;
  z-index: 1;
  background: white;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
}

#nav_mobile {
  width: 100%;
  position: fixed;
  z-index: 1;
  background: white;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
}

.bar .container {
  display: flex;
  align-items: center;
}

.bar .container {
  display: flex;
  align-items: center;
}

.bar_left {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 16px 24px;
}

.bar_left img {
  height: 32px;
  padding-right: 8px;
}

/* Logo Styles */
.logo_text {
  font-family: 'PT Serif', serif;
  font-size: 1.7rem;
  font-weight: bold;
  color: #006064;
  margin-bottom: 4px;
}

.logo_text span {
  font-weight: normal;
  color: #0097A7;
}

/* Navigation Styles */
nav li {
  display: inline-block;
  padding: 16px 8px;
}

nav li:nth-child(4n) {
  padding-right:24px;
}

/* Hero Banner */
.hero .container {
  background-color: #263238;
}

/* Keep Practicing */
.keep_practicing .container {
  background-color: #37474F;
  align-items: flex-start;
}

.keep_practicing .banner_right {
  padding-top: 32px;
}

/* Start Learning */
#start_learning {
  background-color: #263238;
}

.start_learning .container {
  background-color: #263238;
}

/* Thesis Exhibit */
#thesis_exhibit {
  background-color: #37474F;
}

.thesis .container {
  background-color: #37474F;
  align-items: flex-start;
}
.thesis .banner_left {
  padding-top: 0px;
}

.thesis h3 {
  padding: 20px 0px;
}

.thesis h5 {
  padding: 0px;
}

.thesis .card_wide:nth-child(1) {
  background-color: #455A64;
}

.mobile_nav {
  flex-direction: row;
}

/* Footer Styles */
#footer {
  border-top: solid 1px #455A64;
  background-color: #263238;
  max-width: 100%;
  margin: 0 auto;
  font-size: 0.9rem;
}

#footer nav {
  margin-right: 20px;
}

#footer a {
  font-size: 0.9rem;
  color: #FFFFFF;
}

#footer a:hover{
    font-weight: bold;
    color: #0097A7;
    transition: all 0.3s ease-in;
}

/* Responsive Styles */

@media only screen and (max-width: 400px) {

  /* Navigation Mobile */
  #nav {
    display: none;
  }

  #nav_mobile {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center
  }

  ul li {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
    padding: 0px 30px;
  }

  /* Section, Container, and Banner Styles Mobile */
  .section_header {
    padding: 32px 0px 16px 0px;
  }

  .banner .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .banner_left {
    width: 100%;
    padding: 0px;
  }

  .banner_right {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .banner_text {
    padding: 32px 16px;
  }

  .banner_text h1 {
    padding: 0px;
  }

  .banner_text h2 {
    padding: 32px 0px 24px 0px;
  }

  /* Hyperlinks Mobile */
  .link_button {
    margin: 0px;
  }

  /* Cards Wide Mobile */
  #desktop_cards {
    display: none;
  }

  #mobile_cards {
    border-bottom: 2px solid #455A64;
  }

  #mobile_cards .card_wide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #37474F;
  }

  #mobile_cards .card_wide img {
    width: 100%;
    height: 100%;
    padding: 16px;
    object-fit: cover;
    overflow: hidden;
  }

  #mobile_cards .card_wide_text {
    width: 100%;
    height: 100%;
    padding: 16px;
  }

  /* Cards Tall Mobile */
  .card_grid_tall {
    padding: 0px 6px 32px 6px;
  }

  .card_tall {
    width: 42%;
    margin: 0px 12px 216px 12px;
    width: 90%;
    height: auto;
    margin: 0px 0px 8px 0px;
  }

  .card_tall img {
    display: none;
  }

  .card_tall_text {
    height: auto;
    padding: 16px 16px 24px 16px;
    background-color: #FFFFFF;
  }

  .card_tall_text:hover {
    background-color: #CFD8DC;
  }

  .card_tall_text h5{
    display: none;
  }

  /* Keep Practicing Mobile */
  .keep_practicing .container {
    background-color: #37474F;
  }

  /* Start Learning Mobile */
  #start_learning {
    background-color: #263238;
  }

  #start_learning .banner_left {
    display:none;
  }

  .start_learning .container {
    background-color: #263238;
  }

  /* Thesis Mobile */
  #thesis_exhibit {
    background-color: #37474F;
  }

  .thesis .banner_left {
    width: 100%;
  }

  .thesis_text {
    display:none;
  }

  .thesis .banner_right {
    display:none;
  }

  .thesis video {
    margin-bottom: 24px;
  }

  /* Footer Mobile */
  #footer nav {
    display: none;
  }

  #footer .bar_left {
    width: 100%;
    height: 0px;
    margin: 16px auto;
    background-color: #263238;
  }

}

@media only screen and (min-width: 401px) {

  /* Desktop Only Styles */
  .card_wide {
    border: 2px solid #455A64;
  }

  .card_wide:nth-child(3n) {
    background-color: #455A64;
  }

  /* Hide On Desktop */
  #nav_mobile {
    display: none;
  }

  #mobile_cards {
    display: none;
  }

}
