/* Universal Styles */

body {
  background: grey;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section_banner {
  margin: 32px auto;
  text-align: center;
}

/* Header Styles */

.navbar {
  background-color: white;
  color: #424242;
  height: 64px;
}

.footbar {
  background-color: white;
  color: #424242;
  height: 64px;
  border-top: solid 1px #eeeeee;
}

.footbar .container {
  display: flex;
  align-items: center;
}

.navbar .container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 16px 24px;
}

.logo img {
  height: 32px;
}

.logo_text {
  padding-left: 8px;
}

nav li {
  display: inline-block;
  padding: 16px 8px;
}

nav li:nth-child(4n) {
  padding-right:24px;
}

/* main banner styles */

.banner .container {
  background-color: #DADADA;
  display: flex;
  align-items: center;
}

.kp_banner .container {
  background-color: #9E9E9E;
  display: flex;
  align-items: flex-start;
}

.t_banner .container {
  background-color: #ffffff;
  display: flex;
  align-items: flex-start;
}

/* .sl_banner .container {
  background-color: #757575;
} */



.banner_image {
  width: 60%;
  padding: 32px 24px;
}

.banner_image img {
  width: 100%;
}

.banner_text {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.banner_text .text_right {
  padding: 32px 60px 32px 24px;
}

.card {
  display: flex;
  align-items: center;
  border: 1px solid #BDBDBD;
}

/* sl */

.sl_banner .container {
  background-color: #757575;
  height: auto;
  margin: 0 auto;
}

.sl_blocks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 72px 32px 72px;

}

.sl_col {
  width: 30%;
  height: 150px;
  margin: 0px 16px 172px 16px;

}

.sl_col_text {
  background-color: white;
  height: 150px;
}

.sl_col img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .card_vertical {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  border: 1px solid #BDBDBD;
} */

.card:nth-child(3n){
  background-color: #BDBDBD;
}

.t_banner .card:nth-child(1){
  background-color: red;
}

.card img {
  width: 35%;
  height: 35%;
  padding: 16px;
}

.card_text{
  width: 65%;
  height: auto;
}

/* keep practicing */
